@media (min-width: 1000px) {
    #contact {
        padding-left: 200px;
        padding-right: 200px;
    }
}

body {
    position: relative;
}

.jumbotron {
    text-align: center;
    margin-top: 80px;
}

#myCarousel {
    max-height: 500px;
}

#sectionBrazo {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #1E88E5;
}

#section41 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #673ab7;
}

#section42 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #ff9800;
}

#contact {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #c8c8c8;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #101010;
    color: white;
}
